* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
}

video {
    max-width: 100%;
}

.site {
    margin: 0 auto;
    max-width: 725px;
}

.video__container .mejs__controls {
    background: linear-gradient(#484848, #181818);
}

.video__container .mejs__time {
    color: #55efc4;
}

.video__container .mejs__time-current {
    background: hsla(163, 83%, 64%, .9);
}

.video__captions {
    padding: 30px;
}

.active {
    color: #55efc4;
}

@media screen and (min-width: 769px) {

    .site {
        margin-top: 30px;
    }

    .video__captions {
        padding: 30px 0;
    }
}
